a:hover {
    text-decoration: none!important;
}

.devburna .pagination {
    margin-bottom: 0;
}

.devburna-announcemanet {
    padding-top: 0!important;
    /* margin-bottom: 30px!important; */
}

.devburna-announcemanet img {
    max-width: unset!important;
    border-radius: unset!important;
}

.dash-footer {
    background: #fff;
    padding: 10px 45px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 30px!important;
}

.is-invalid {
    border-color: red!important;
}

.alert-danger {
    margin-bottom: 20px!important;
    border-left: 3px solid red!important;
}

.alert-warning {
    margin-bottom: 20px!important;
    border-left: 3px solid #f48024!important;
}

.alert-success {
    margin-bottom: 20px!important;
    border-left: 3px solid #27AE60!important;
}

.alert-info {
    margin-bottom: 20px!important;
    border-left: 3px solid #004085!important;
}

.table-action-box .save {
    color: #fff;
    background: #27AE60;
    border: 1px solid #27AE60;
}


.chosen-container-multi .chosen-choices {
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
    background-image: unset;
}

.chosen-container {
    width: 100%!important;
}